In [7]:
%load_ext autoreload
%autoreload 2

In [13]:
import psycopg2
import pandas as pd
# import configparser
import yaml

In [2]:
from sql_postgres import create_staging_sales, drop_staging_sales
from sql_postgres import create_invoices, drop_invoices
from sql_postgres import create_items, drop_items
from sql_postgres import create_product_categories, drop_product_categories
from sql_postgres import create_stores, drop_stores

In [9]:
engine = psycopg2.connect(
    database="postgres",
    user="postgres",
    password="aQAbBqIpcmwVNVtOUt8M",
    host="database-1.ch27epgtqyjq.us-west-2.rds.amazonaws.com",
    port="5432",
)

In [10]:
cur = engine.cursor()

# Explore a small amount of data

For a first guess table schema, use [csvkit](https://csvkit.readthedocs.io/en/latest/index.html)'s `csvstat` and `csvsql`.  For Iowa_Liquor_sales, use a 10000 row subset

````
csvstat subset_of_data.csv
````

CREATE_STAGING_SALES_INITIAL formed from csvsql

In [14]:
with open('data.yml', 'r') as stream:
    data_config = yaml.safe_load(stream)

In [5]:
# data_config = configparser.ConfigParser()
# data_config.read('data.cfg')

['data.cfg']

In [38]:
sales_bucket = data_config["sales_raw"]['bucket']
sales_key = data_config["sales_raw"]["key"]
n_rows = 10000
subset_file = 'subset.csv'

In [39]:
cmd = f"""aws s3api select-object-content --bucket {sales_bucket} \
  --key {sales_key} \
  --expression "select * from s3object limit {n_rows}" \
  --expression-type 'SQL' \
  --input-serialization '{{"CSV": {{}}, "CompressionType": "NONE"}}' \
  --output-serialization '{{"CSV": {{}}}}' "{subset_file}"
"""

In [40]:
! $cmd

In [41]:
!./venv/bin/csvstat $subset_file

  1. "Invoice/Item Number"

	Type of data:          Text
	Contains null values:  False
	Unique values:         9999
	Longest value:         16 characters
	Most common values:    S15295000128 (1x)
	                       S16288500003 (1x)
	                       S09399500011 (1x)
	                       S04545700011 (1x)
	                       S16464700042 (1x)

  2. "Date"

	Type of data:          Date
	Contains null values:  False
	Unique values:         832
	Smallest value:        2012-01-03
	Largest value:         2018-04-11
	Most common values:    2015-10-19 (27x)
	                       2013-05-21 (26x)
	                       2018-04-10 (26x)
	                       2015-04-15 (26x)
	                       2014-11-05 (24x)

  3. "Store Number"

	Type of data:          Number
	Contains null values:  False
	Unique values:         1259
	Smallest value:        2,106
	Largest value:         9,002
	Sum:                   34,875,073
	Mean:                  3,487.856
	Median:                3,650
	StDev:                 873.879
	Most common values:    2,633 (85x)
	                       2,190 (84x)
	                       2,614 (70x)
	                       4,829 (67x)
	                       2,512 (64x)

  4. "Store Name"

	Type of data:          Text
	Contains null values:  False
	Unique values:         1238
	Longest value:         36 characters
	Most common values:    Hy-Vee #3 / BDI / Des Moines (85x)
	                       Central City Liquor, Inc. (84x)
	                       Hy-Vee #3 Food and Drugstore (70x)
	                       Central City 2 (67x)
	                       Hy-Vee Wine and Spirits / Iowa City (64x)

  5. "Address"

	Type of data:          Text
	Contains null values:  False
	Unique values:         1240
	Longest value:         30 characters
	Most common values:    3221 SE 14TH ST (113x)
	                       1460 2ND AVE (84x)
	                       1823 E KIMBERLY RD (70x)
	                       1501 MICHIGAN AVE (67x)
	                       1720 WATERFRONT DR (64x)

  6. "City"

	Type of data:          Text
	Contains null values:  False
	Unique values:         354
	Longest value:         17 characters
	Most common values:    DES MOINES (849x)
	                       CEDAR RAPIDS (691x)
	                       DAVENPORT (446x)
	                       WATERLOO (344x)
	                       COUNCIL BLUFFS (308x)

  7. "Zip Code"

	Type of data:          Text
	Contains null values:  False
	Unique values:         374
	Longest value:         5 characters
	Most common values:    52402 (262x)
	                       50010 (245x)
	                       52240 (239x)
	                       50613 (185x)
	                       50314 (184x)

  8. "Store Location"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         1086
	Longest value:         45 characters
	Most common values:    None (893x)
	                       POINT (-93.596754 41.554101) (85x)
	                       POINT (-93.619787 41.60566) (84x)
	                       POINT (-90.548919 41.55678100000001) (70x)
	                       POINT (-93.613739 41.60572) (67x)

  9. "County Number"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         99
	Smallest value:        1
	Largest value:         99
	Sum:                   569,395
	Mean:                  57.014
	Median:                61
	StDev:                 27.332
	Most common values:    77 (1766x)
	                       57 (863x)
	                       82 (645x)
	                       7 (571x)
	                       52 (483x)

 10. "County"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         111
	Longest value:         13 characters
	Most common values:    Polk (1765x)
	                       Linn (863x)
	                       Scott (645x)
	                       Black Hawk (570x)
	                       Johnson (476x)

 11. "Category"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         70
	Smallest value:        1,011,100
	Largest value:         1,701,100
	Sum:                   10,437,478,673
	Mean:                  1,043,956.659
	Median:                1,032,080
	StDev:                 48,492.265
	Most common values:    1,031,080 (1275x)
	                       1,012,100 (934x)
	                       1,011,200 (546x)
	                       1,062,310 (519x)
	                       1,031,200 (502x)

 12. "Category Name"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         84
	Longest value:         34 characters
	Most common values:    VODKA 80 PROOF (1275x)
	                       CANADIAN WHISKIES (931x)
	                       STRAIGHT BOURBON WHISKIES (544x)
	                       SPICED RUM (519x)
	                       VODKA FLAVORED (502x)

 13. "Vendor Number"

	Type of data:          Number
	Contains null values:  False
	Unique values:         73
	Smallest value:        35
	Largest value:         978
	Sum:                   2,549,739
	Mean:                  254.999
	Median:                260
	StDev:                 142.97
	Most common values:    260 (1635x)
	                       434 (1095x)
	                       65 (1001x)
	                       370 (607x)
	                       115 (558x)

 14. "Vendor Name"

	Type of data:          Text
	Contains null values:  False
	Unique values:         87
	Longest value:         36 characters
	Most common values:    Diageo Americas (1634x)
	                       Luxco-St Louis (1092x)
	                       Jim Beam Brands (1001x)
	                       Pernod Ricard USA/Austin Nichols (604x)
	                       Constellation Wine Company, Inc. (556x)

 15. "Item Number"

	Type of data:          Number
	Contains null values:  False
	Unique values:         1577
	Smallest value:        220
	Largest value:         988,536
	Sum:                   452,734,760
	Mean:                  45,278.004
	Median:                38,176
	StDev:                 46,634.483
	Most common values:    11,788 (114x)
	                       36,308 (89x)
	                       35,918 (69x)
	                       11,776 (68x)
	                       25,608 (59x)

 16. "Item Description"

	Type of data:          Text
	Contains null values:  False
	Unique values:         1180
	Longest value:         56 characters
	Most common values:    Black Velvet (283x)
	                       Hawkeye Vodka (235x)
	                       Five O'clock Vodka (162x)
	                       Smirnoff Vodka 80 Prf (141x)
	                       Seagrams 7 Crown Bl Whiskey (136x)

 17. "Pack"

	Type of data:          Number
	Contains null values:  False
	Unique values:         11
	Smallest value:        1
	Largest value:         48
	Sum:                   122,744
	Mean:                  12.276
	Median:                12
	StDev:                 7.324
	Most common values:    12 (6083x)
	                       6 (2614x)
	                       24 (887x)
	                       48 (233x)
	                       10 (104x)

 18. "Bottle Volume (ml)"

	Type of data:          Number
	Contains null values:  False
	Unique values:         18
	Smallest value:        100
	Largest value:         4,800
	Sum:                   9,238,552
	Mean:                  923.948
	Median:                750
	StDev:                 474.399
	Most common values:    750 (4600x)
	                       1,750 (1985x)
	                       1,000 (1475x)
	                       375 (982x)
	                       500 (410x)

 19. "State Bottle Cost"

	Type of data:          Number
	Contains null values:  False
	Unique values:         1009
	Smallest value:        0
	Largest value:         89.95
	Sum:                   93,266.28
	Mean:                  9.328
	Median:                7.84
	StDev:                 5.997
	Most common values:    8.25 (153x)
	                       10 (142x)
	                       6.5 (133x)
	                       6.3 (101x)
	                       12.5 (100x)

 20. "State Bottle Retail"

	Type of data:          Number
	Contains null values:  False
	Unique values:         1190
	Smallest value:        0
	Largest value:         134.93
	Sum:                   140,198.64
	Mean:                  14.021
	Median:                11.79
	StDev:                 8.996
	Most common values:    15 (111x)
	                       9.74 (110x)
	                       15.74 (97x)
	                       12.38 (92x)
	                       9.45 (86x)

 21. "Bottles Sold"

	Type of data:          Number
	Contains null values:  False
	Unique values:         55
	Smallest value:        1
	Largest value:         660
	Sum:                   100,877
	Mean:                  10.089
	Median:                6
	StDev:                 24.851
	Most common values:    12 (2727x)
	                       6 (1862x)
	                       2 (1360x)
	                       1 (1158x)
	                       3 (1089x)

 22. "Sale (Dollars)"

	Type of data:          Number
	Contains null values:  False
	Unique values:         3142
	Smallest value:        0
	Largest value:         19,233
	Sum:                   1,319,360.2
	Mean:                  131.949
	Median:                67.5
	StDev:                 453.14
	Most common values:    62.28 (57x)
	                       73.8 (54x)
	                       180 (48x)
	                       60.72 (47x)
	                       64.56 (46x)

 23. "Volume Sold (Liters)"

	Type of data:          Number
	Contains null values:  False
	Unique values:         110
	Smallest value:        0.2
	Largest value:         1,050
	Sum:                   94,491.64
	Mean:                  9.45
	Median:                5.25
	StDev:                 33.11
	Most common values:    9 (1919x)
	                       10.5 (1265x)
	                       1.5 (908x)
	                       2.25 (773x)
	                       12 (681x)

 24. "Volume Sold (Gallons)"

	Type of data:          Number
	Contains null values:  False
	Unique values:         111
	Smallest value:        0.05
	Largest value:         277.38
	Sum:                   24,963.94
	Mean:                  2.497
	Median:                1.39
	StDev:                 8.747
	Most common values:    2.38 (1919x)
	                       2.77 (1265x)
	                       0.4 (908x)
	                       0.59 (773x)
	                       3.17 (681x)

Row count: 9999

In [42]:
!./venv/bin/csvsql $subset_file

CREATE TABLE subset (
	"Invoice/Item Number" VARCHAR NOT NULL,
	"Date" DATE NOT NULL,
	"Store Number" DECIMAL NOT NULL,
	"Store Name" VARCHAR NOT NULL,
	"Address" VARCHAR NOT NULL,
	"City" VARCHAR NOT NULL,
	"Zip Code" VARCHAR NOT NULL,
	"Store Location" VARCHAR,
	"County Number" DECIMAL,
	"County" VARCHAR,
	"Category" DECIMAL,
	"Category Name" VARCHAR,
	"Vendor Number" DECIMAL NOT NULL,
	"Vendor Name" VARCHAR NOT NULL,
	"Item Number" DECIMAL NOT NULL,
	"Item Description" VARCHAR NOT NULL,
	"Pack" DECIMAL NOT NULL,
	"Bottle Volume (ml)" DECIMAL NOT NULL,
	"State Bottle Cost" DECIMAL NOT NULL,
	"State Bottle Retail" DECIMAL NOT NULL,
	"Bottles Sold" DECIMAL NOT NULL,
	"Sale (Dollars)" DECIMAL NOT NULL,
	"Volume Sold (Liters)" DECIMAL NOT NULL,
	"Volume Sold (Gallons)" DECIMAL NOT NULL
);

In [43]:
df_temp = pd.read_csv(subset_file, nrows=5)
df_temp

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S15295000128,10/23/2013,2524,Hy-Vee Food Store / Dubuque,3500 DODGE ST,DUBUQUE,52001,NaN,31,Dubuque,...,40351,Burnett's Blackberry,12,750,4.17,6.59,4,26.36,3.0,0.79
1,S16288500003,12/16/2013,3740,Hometown Foods / Waterloo,1010 E MITCHELL AVE,WATERLOO,50702,POINT (-92.343118 42.476639),7,Black Hawk,...,64716,Ciroc Peach,12,750,18.75,28.12,24,674.88,18.0,4.76
2,S09399500011,12/11/2012,4495,Casey's General Store #3055 / Grundy,"504, G AVE",GRUNDY CENTER,50638,POINT (-92.770411 42.361494),38,Grundy,...,37934,Skol Vodka,24,375,1.74,2.60,8,20.80,3.0,0.79
3,S04545700011,03/14/2012,3525,Wines and Spirits,106 W 2ND ST,WASHINGTON,52353,POINT (-91.692214 41.300399),92,Washington,...,13388,Northern Light,6,1750,8.32,12.48,6,74.88,10.5,2.77
4,S16464700042,12/23/2013,2638,Hy-Vee Wine and Spirits / Cedar Fall,5925 UNIVERSITY AVE STE A,CEDAR FALLS,50613,POINT (-92.429331 42.512766),7,Black Hawk,...,64601,Caravella Limoncello,6,750,11.25,16.87,6,101.22,4.5,1.19

From this we see that (summarizing only columns that may be of interest in this analysis):

* the invoice/item number is unique and constant length (16 character)
* date range is 2012-01 to 2018-04 and does not contain nulls
* store number is a 4 digit ID and does not contain nulls
* zip code is well formed (always 5 digits) and does not contain nulls
* item number is numeric id up to 6 digits and does not contain nulls
* item description is text up to at least 56 characters and has fewer unique values than item number, suggesting either the schema has changed over time or some different items use the same description
* Category is a numeric ID of 9 digits and contains nulls
* Catagory Name is text of maximum 34 characters (in the subset), contains nulls, and does not have the same number of unique values as category.  This suggests pairings of category names and categories may have changed over time or that some are missing
* vendor numbers are 3 digit numeric IDs and contain nulls
* vendor names contain nulls and the number of unique names does not match unique vendor numbers, suggesting missing items or a change in names over time
* state bottle cost, retail, and sale are all numeric dollar values and contain nulls.  They will be staged as text to avoid rounding and allow their final destination to choose precision

From this, we define a staging table (which takes a direct import of all data in a batch CSV) with schema:

In [48]:
print(CREATE_STAGING_SALES)

CREATE TABLE staging_sales (
  invoice_id VARCHAR NOT NULL,
  date DATE NOT NULL,
  store_number "Store Number" DECIMAL NOT NULL,
  store_name VARCHAR NOT NULL,
  address VARCHAR NOT NULL,
  city VARCHAR NOT NULL,
  zip VARCHAR NOT NULL,
  store_location VARCHAR,
  county_number DECIMAL,
  county VARCHAR,
  category DECIMAL,
  category_name VARCHAR,
  vendor_number DECIMAL NOT NULL,
  vendor_name VARCHAR NOT NULL,
  item_number DECIMAL NOT NULL,
  item_description VARCHAR NOT NULL,
  pack DECIMAL NOT NULL,
  bottle_volume_ml DECIMAL NOT NULL,
  state_bottle_cost DECIMAL NOT NULL,
  state_bottle_retail DECIMAL NOT NULL,
  bottles_sold DECIMAL NOT NULL,
  sale_dollars DECIMAL NOT NULL,
  volume_sold_liters DECIMAL NOT NULL,
  volume_sold_gallons DECIMAL NOT NULL
);

And we then define the following OLTP schema for the data we care about.  Note that we only include columns necessary for our current analysis goals - as we will keep the raw data files, additional columns could be loaded later

( ADD SCHEMA HERE )

In [59]:
print(f"{CREATE_STAGING_SALES}\n")
print(f"{CREATE_INVOICES}\n")
print(f"{CREATE_ITEMS}\n")
print(f"{CREATE_PRODUCT_CATEGORIES}\n")
print(f"{CREATE_STORES}\n")

CREATE TABLE staging_sales (
  invoice_id VARCHAR NOT NULL,
  date DATE NOT NULL,
  store_id DECIMAL NOT NULL,
  store_name VARCHAR NOT NULL,
  address VARCHAR NOT NULL,
  city VARCHAR NOT NULL,
  zip VARCHAR NOT NULL,
  store_location VARCHAR,
  county_number DECIMAL,
  county VARCHAR,
  category_id DECIMAL,
  category_name VARCHAR,
  vendor_id DECIMAL NOT NULL,
  vendor_name VARCHAR NOT NULL,
  item_id DECIMAL NOT NULL,
  item_description VARCHAR NOT NULL,
  pack DECIMAL NOT NULL,
  bottle_volume_ml DECIMAL NOT NULL,
  bottle_cost DECIMAL NOT NULL,
  bottle_retail DECIMAL NOT NULL,
  bottles_sold DECIMAL NOT NULL,
  total_sale DECIMAL NOT NULL,
  volume_sold_liters DECIMAL NOT NULL,
  volume_sold_gallons DECIMAL NOT NULL
);



CREATE TABLE invoices (
  invoice_id VARCHAR(16) NOT NULL,
  store_id VARCHAR(4) NOT NULL,
  date DATE NOT NULL,
  bottle_cost DECIMAL(7,3) NOT NULL,
  bottle_retail DECIMAL(7,3) NOT NULL,
  bottles_sold SMALLINT NOT NULL,
  total_sale DECIMAL(8,3) NOT NULL,
  PRIMARY KEY (invoice_id),
  FOREIGN KEY (store_id) REFERENCES stores,
);



CREATE TABLE items (
  item_id VARCHAR(6) NOT NULL,
  item_description VARCHAR(70) NOT NULL,
  category_id VARCHAR(7),
  vendor_id VARCHAR(3) NOT NULL,
  PRIMARY KEY (item_id),
  FOREIGN KEY (category_id) REFERENCES product_categories
);



CREATE TABLE product_categories (
  category_id VARCHAR(7) NOT NULL,
  category_name VARCHAR(50),
  PRIMARY KEY (category_id)
);



CREATE TABLE stores (
  store_id VARCHAR(4) NOT NULL,
  store_name VARCHAR(50) NOT NULL,
  zip VARCHAR(5) NOT NULL,
  store_location VARCHAR,
  PRIMARY KEY (store_id)
);

# Explore a small amount of weather data

For a first guess table schema, use [csvkit](https://csvkit.readthedocs.io/en/latest/index.html)'s `csvstat` and `csvsql`

````
csvstat subset_of_data.csv
````

In [18]:
bucket = data_config["weather_raw"]['bucket']
key = data_config["weather_raw"]["key"][0]
n_rows = 10000
subset_file = 'subset.csv'

In [19]:
cmd = f"""aws s3api select-object-content --bucket {bucket} \
  --key {key} \
  --expression "select * from s3object limit {n_rows}" \
  --expression-type 'SQL' \
  --input-serialization '{{"CSV": {{}}, "CompressionType": "NONE"}}' \
  --output-serialization '{{"CSV": {{}}}}' "{subset_file}"
"""

In [20]:
! $cmd

# TODO: EXPLAIN CHOICES ON QUERIES.  SHOW QUERIES.  THERES TEXT FILES OF IT ALL

In [21]:
!./venv/bin/csvstat $subset_file

  1. "STATION"

	Type of data:          Text
	Contains null values:  False
	Unique values:         38
	Longest value:         11 characters
	Most common values:    USC00134561 (366x)
	                       USC00138806 (366x)
	                       USC00133239 (366x)
	                       USC00137844 (366x)
	                       USW00094991 (366x)

  2. "NAME"

	Type of data:          Text
	Contains null values:  False
	Unique values:         38
	Longest value:         37 characters
	Most common values:    LAKE PARK, IA US (366x)
	                       WEBSTER CITY, IA US (366x)
	                       GILMAN, IA US (366x)
	                       SPENCER 1 N, IA US (366x)
	                       LAMONI MUNICIPAL AIRPORT, IA US (366x)

  3. "LATITUDE"

	Type of data:          Number
	Contains null values:  False
	Unique values:         38
	Smallest value:        40.622
	Largest value:         43.448
	Sum:                   421,736.276
	Mean:                  42.178
	Median:                42.14
	StDev:                 0.706
	Most common values:    43.448 (366x)
	                       42.468 (366x)
	                       41.878 (366x)
	                       43.165 (366x)
	                       40.631 (366x)

  4. "LONGITUDE"

	Type of data:          Number
	Contains null values:  False
	Unique values:         38
	Smallest value:        -96.406
	Largest value:         -90.646
	Sum:                   -934,544.947
	Mean:                  -93.464
	Median:                -93.65
	StDev:                 1.358
	Most common values:    -95.325 (366x)
	                       -93.797 (366x)
	                       -92.779 (366x)
	                       -95.147 (366x)
	                       -93.901 (366x)

  5. "ELEVATION"

	Type of data:          Number
	Contains null values:  False
	Unique values:         37
	Smallest value:        161.5
	Largest value:         446.5
	Sum:                   3,183,161.3
	Mean:                  318.348
	Median:                312.4
	StDev:                 66.645
	Most common values:    345.9 (410x)
	                       446.5 (366x)
	                       326.7 (366x)
	                       312.4 (366x)
	                       404.2 (366x)

  6. "DATE"

	Type of data:          Date
	Contains null values:  False
	Unique values:         366
	Smallest value:        2012-01-01
	Largest value:         2012-12-31
	Most common values:    2012-09-05 (34x)
	                       2012-09-13 (34x)
	                       2012-10-14 (34x)
	                       2012-04-15 (34x)
	                       2012-08-13 (33x)

  7. "DAPR"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         9
	Smallest value:        2
	Largest value:         16
	Sum:                   93
	Mean:                  5.167
	Median:                4.5
	StDev:                 3.73
	Most common values:    None (9981x)
	                       2 (7x)
	                       4 (2x)
	                       6 (2x)
	                       7 (2x)

  8. "MDPR"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         16
	Smallest value:        0
	Largest value:         1.25
	Sum:                   7.11
	Mean:                  0.395
	Median:                0.17
	StDev:                 0.441
	Most common values:    None (9981x)
	                       0 (3x)
	                       0.17 (2x)
	                       0.05 (1x)
	                       1.18 (1x)

  9. "PRCP"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         188
	Smallest value:        0
	Largest value:         7.9
	Sum:                   814
	Mean:                  0.082
	Median:                0
	StDev:                 0.258
	Most common values:    0 (7380x)
	                       0.01 (186x)
	                       0.02 (170x)
	                       0.05 (127x)
	                       0.03 (126x)

 10. "PSUN"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 11. "SNOW"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         63
	Smallest value:        0
	Largest value:         14
	Sum:                   643.8
	Mean:                  0.125
	Median:                0
	StDev:                 0.763
	Most common values:    None (4847x)
	                       0 (4844x)
	                       1 (42x)
	                       2 (25x)
	                       0.5 (23x)

 12. "SNWD"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         32
	Smallest value:        0
	Largest value:         14
	Sum:                   2,424.3
	Mean:                  0.661
	Median:                0
	StDev:                 1.848
	Most common values:    None (6329x)
	                       0 (3032x)
	                       1 (126x)
	                       2 (122x)
	                       3 (85x)

 13. "TAVG"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 14. "TMAX"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         102
	Smallest value:        3
	Largest value:         105
	Sum:                   328,596
	Mean:                  63.216
	Median:                66
	StDev:                 21.79
	Most common values:    None (4801x)
	                       76 (114x)
	                       83 (110x)
	                       82 (108x)
	                       79 (107x)

 15. "TMIN"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         100
	Smallest value:        -21
	Largest value:         88
	Sum:                   208,328
	Mean:                  40.04
	Median:                41
	StDev:                 19.325
	Most common values:    None (4796x)
	                       47 (111x)
	                       31 (106x)
	                       24 (104x)
	                       60 (99x)

 16. "TOBS"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         101
	Smallest value:        -15
	Largest value:         90
	Sum:                   170,298
	Mean:                  45.413
	Median:                47
	StDev:                 19.386
	Most common values:    None (6249x)
	                       31 (78x)
	                       64 (75x)
	                       58 (73x)
	                       28 (72x)

 17. "TSUN"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 18. "WESD"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         12
	Smallest value:        0
	Largest value:         6
	Sum:                   23.8
	Mean:                  0.06
	Median:                0
	StDev:                 0.47
	Most common values:    None (9599x)
	                       0 (377x)
	                       0.1 (8x)
	                       0.3 (4x)
	                       6 (2x)

 19. "WESF"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         11
	Smallest value:        0
	Largest value:         2.3
	Sum:                   9.1
	Mean:                  0.147
	Median:                0
	StDev:                 0.348
	Most common values:    None (9937x)
	                       0 (39x)
	                       0.1 (8x)
	                       0.3 (4x)
	                       0.2 (3x)

 20. "WT01"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         2
	Most common values:    None (9566x)
	                       True (433x)

 21. "WT02"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         2
	Most common values:    None (9958x)
	                       True (41x)

 22. "WT03"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         2
	Most common values:    None (9874x)
	                       True (125x)

 23. "WT04"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 24. "WT05"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         2
	Most common values:    None (9997x)
	                       True (2x)

 25. "WT06"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         2
	Most common values:    None (9997x)
	                       True (2x)

 26. "WT07"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 27. "WT08"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         2
	Most common values:    None (9866x)
	                       True (133x)

 28. "WT09"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 29. "WT10"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 30. "WT11"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         2
	Most common values:    None (9998x)
	                       True (1x)

 31. "WT13"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 32. "WT14"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 33. "WT15"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 34. "WT16"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 35. "WT17"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 36. "WT18"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 37. "WT19"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 38. "WT21"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

 39. "WT22"

	Type of data:          Boolean
	Contains null values:  True (excluded from calculations)
	Unique values:         1
	Most common values:    None (9999x)

Row count: 9999

In [22]:
!./venv/bin/csvsql $subset_file

CREATE TABLE subset (
	"STATION" VARCHAR NOT NULL,
	"NAME" VARCHAR NOT NULL,
	"LATITUDE" DECIMAL NOT NULL,
	"LONGITUDE" DECIMAL NOT NULL,
	"ELEVATION" DECIMAL NOT NULL,
	"DATE" DATE NOT NULL,
	"DAPR" DECIMAL,
	"MDPR" DECIMAL,
	"PRCP" DECIMAL,
	"PSUN" BOOLEAN,
	"SNOW" DECIMAL,
	"SNWD" DECIMAL,
	"TAVG" BOOLEAN,
	"TMAX" DECIMAL,
	"TMIN" DECIMAL,
	"TOBS" DECIMAL,
	"TSUN" BOOLEAN,
	"WESD" DECIMAL,
	"WESF" DECIMAL,
	"WT01" BOOLEAN,
	"WT02" BOOLEAN,
	"WT03" BOOLEAN,
	"WT04" BOOLEAN,
	"WT05" BOOLEAN,
	"WT06" BOOLEAN,
	"WT07" BOOLEAN,
	"WT08" BOOLEAN,
	"WT09" BOOLEAN,
	"WT10" BOOLEAN,
	"WT11" BOOLEAN,
	"WT13" BOOLEAN,
	"WT14" BOOLEAN,
	"WT15" BOOLEAN,
	"WT16" BOOLEAN,
	"WT17" BOOLEAN,
	"WT18" BOOLEAN,
	"WT19" BOOLEAN,
	"WT21" BOOLEAN,
	"WT22" BOOLEAN
);

In [43]:
df_temp = pd.read_csv(subset_file, nrows=5)
df_temp

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S15295000128,10/23/2013,2524,Hy-Vee Food Store / Dubuque,3500 DODGE ST,DUBUQUE,52001,NaN,31,Dubuque,...,40351,Burnett's Blackberry,12,750,4.17,6.59,4,26.36,3.0,0.79
1,S16288500003,12/16/2013,3740,Hometown Foods / Waterloo,1010 E MITCHELL AVE,WATERLOO,50702,POINT (-92.343118 42.476639),7,Black Hawk,...,64716,Ciroc Peach,12,750,18.75,28.12,24,674.88,18.0,4.76
2,S09399500011,12/11/2012,4495,Casey's General Store #3055 / Grundy,"504, G AVE",GRUNDY CENTER,50638,POINT (-92.770411 42.361494),38,Grundy,...,37934,Skol Vodka,24,375,1.74,2.60,8,20.80,3.0,0.79
3,S04545700011,03/14/2012,3525,Wines and Spirits,106 W 2ND ST,WASHINGTON,52353,POINT (-91.692214 41.300399),92,Washington,...,13388,Northern Light,6,1750,8.32,12.48,6,74.88,10.5,2.77
4,S16464700042,12/23/2013,2638,Hy-Vee Wine and Spirits / Cedar Fall,5925 UNIVERSITY AVE STE A,CEDAR FALLS,50613,POINT (-92.429331 42.512766),7,Black Hawk,...,64601,Caravella Limoncello,6,750,11.25,16.87,6,101.22,4.5,1.19

From this we see that (summarizing only columns that may be of interest in this analysis):

* the invoice/item number is unique and constant length (16 character)
* date range is 2012-01 to 2018-04 and does not contain nulls
* store number is a 4 digit ID and does not contain nulls
* zip code is well formed (always 5 digits) and does not contain nulls
* item number is numeric id up to 6 digits and does not contain nulls
* item description is text up to at least 56 characters and has fewer unique values than item number, suggesting either the schema has changed over time or some different items use the same description
* Category is a numeric ID of 9 digits and contains nulls
* Catagory Name is text of maximum 34 characters (in the subset), contains nulls, and does not have the same number of unique values as category.  This suggests pairings of category names and categories may have changed over time or that some are missing
* vendor numbers are 3 digit numeric IDs and contain nulls
* vendor names contain nulls and the number of unique names does not match unique vendor numbers, suggesting missing items or a change in names over time
* state bottle cost, retail, and sale are all numeric dollar values and contain nulls.  They will be staged as text to avoid rounding and allow their final destination to choose precision

From this, we define a staging table (which takes a direct import of all data in a batch CSV) with schema:

In [48]:
print(CREATE_STAGING_SALES)

CREATE TABLE staging_sales (
  invoice_id VARCHAR NOT NULL,
  date DATE NOT NULL,
  store_number "Store Number" DECIMAL NOT NULL,
  store_name VARCHAR NOT NULL,
  address VARCHAR NOT NULL,
  city VARCHAR NOT NULL,
  zip VARCHAR NOT NULL,
  store_location VARCHAR,
  county_number DECIMAL,
  county VARCHAR,
  category DECIMAL,
  category_name VARCHAR,
  vendor_number DECIMAL NOT NULL,
  vendor_name VARCHAR NOT NULL,
  item_number DECIMAL NOT NULL,
  item_description VARCHAR NOT NULL,
  pack DECIMAL NOT NULL,
  bottle_volume_ml DECIMAL NOT NULL,
  state_bottle_cost DECIMAL NOT NULL,
  state_bottle_retail DECIMAL NOT NULL,
  bottles_sold DECIMAL NOT NULL,
  sale_dollars DECIMAL NOT NULL,
  volume_sold_liters DECIMAL NOT NULL,
  volume_sold_gallons DECIMAL NOT NULL
);

And we then define the following OLTP schema for the data we care about.  Note that we only include columns necessary for our current analysis goals - as we will keep the raw data files, additional columns could be loaded later

( ADD SCHEMA HERE )

In [59]:
print(f"{CREATE_STAGING_SALES}\n")
print(f"{CREATE_INVOICES}\n")
print(f"{CREATE_ITEMS}\n")
print(f"{CREATE_PRODUCT_CATEGORIES}\n")
print(f"{CREATE_STORES}\n")

CREATE TABLE staging_sales (
  invoice_id VARCHAR NOT NULL,
  date DATE NOT NULL,
  store_id DECIMAL NOT NULL,
  store_name VARCHAR NOT NULL,
  address VARCHAR NOT NULL,
  city VARCHAR NOT NULL,
  zip VARCHAR NOT NULL,
  store_location VARCHAR,
  county_number DECIMAL,
  county VARCHAR,
  category_id DECIMAL,
  category_name VARCHAR,
  vendor_id DECIMAL NOT NULL,
  vendor_name VARCHAR NOT NULL,
  item_id DECIMAL NOT NULL,
  item_description VARCHAR NOT NULL,
  pack DECIMAL NOT NULL,
  bottle_volume_ml DECIMAL NOT NULL,
  bottle_cost DECIMAL NOT NULL,
  bottle_retail DECIMAL NOT NULL,
  bottles_sold DECIMAL NOT NULL,
  total_sale DECIMAL NOT NULL,
  volume_sold_liters DECIMAL NOT NULL,
  volume_sold_gallons DECIMAL NOT NULL
);



CREATE TABLE invoices (
  invoice_id VARCHAR(16) NOT NULL,
  store_id VARCHAR(4) NOT NULL,
  date DATE NOT NULL,
  bottle_cost DECIMAL(7,3) NOT NULL,
  bottle_retail DECIMAL(7,3) NOT NULL,
  bottles_sold SMALLINT NOT NULL,
  total_sale DECIMAL(8,3) NOT NULL,
  PRIMARY KEY (invoice_id),
  FOREIGN KEY (store_id) REFERENCES stores,
);



CREATE TABLE items (
  item_id VARCHAR(6) NOT NULL,
  item_description VARCHAR(70) NOT NULL,
  category_id VARCHAR(7),
  vendor_id VARCHAR(3) NOT NULL,
  PRIMARY KEY (item_id),
  FOREIGN KEY (category_id) REFERENCES product_categories
);



CREATE TABLE product_categories (
  category_id VARCHAR(7) NOT NULL,
  category_name VARCHAR(50),
  PRIMARY KEY (category_id)
);



CREATE TABLE stores (
  store_id VARCHAR(4) NOT NULL,
  store_name VARCHAR(50) NOT NULL,
  zip VARCHAR(5) NOT NULL,
  store_location VARCHAR,
  PRIMARY KEY (store_id)
);

# Assumptions/statements

* We will keep all raw data files as a backup.  This allows us to ingest into our DBs only the data we currently plan to use - if additional data was needed in future we could load that as well
* Product/category definitions used in analysis will take the most recent definition as truth.  For example, if in 2012 item `12345` was classified as category `10`, but later item `12345` was classified as category `20`, we will use category `20` for all analyses.  This avoids having to maintain the lineage of any product/category data
* Bottle cost and retail sale price will change over time and thus cannot be an attribute directly in the item table

# Outstanding questions

* do we have weather data for all zips in sales?
* do we have population data for all zips in sales?

# TODO for ETL

* Load product data (item/category) chronologically so we keep only the most recent

In [23]:
from sql_postgres import get_station_latitude_longitude

In [24]:
cur = engine.cursor()
cur.execute(get_station_latitude_longitude)
records = cur.fetchall()

In [33]:
import geopy
geolocator = geopy.Nominatim(user_agent='etl')
zipcode = geolocator.reverse((41.5445, -90.591)).raw['address']['postcode']

In [44]:
def lat_long_to_zip_geo(latitude, longitude):
    location = geolocator.reverse((latitude, longitude))
    
    # Not all locations from this service have zip codes... if nothing, return None
    try:
        return location.raw['address']['postcode']
    except KeyError:
        return None
    
print(lat_long_to_zip(41.5445, -90.591))
print(lat_long_to_zip(43.4022489, -91.2864117))

52804
None

In [42]:
f = lambda t: (t[0], lat_long_to_zip(t[1], t[2]))
list(map(f, records[:3]))

43.401739
-91.28507
43.1409
-91.4926
40.724725
-92.868039

[('US1IAAL0005',
  Location(Allamakee County, Iowa, United States of America, (43.4022489, -91.2864117, 0.0))),
 ('US1IAAL0006',
  Location(672, Woodchuck Drive, Allamakee County, Iowa, 52162, United States of America, (43.14080759357605, -91.49254566651234, 0.0))),
 ('US1IAAP0001',
  Location(1024, South 18th Street, Centerville, Appanoose County, Iowa, 52544, United States of America, (40.7247251744186, -92.86801541860466, 0.0)))]

In [46]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
search.by_coordinates(43.4022489, -91.2864117, returns=1)[0].zipcode

Start downloading data for simple zipcode database, total size 9MB ...
  1 MB finished ...
  2 MB finished ...
  3 MB finished ...
  4 MB finished ...
  5 MB finished ...
  6 MB finished ...
  7 MB finished ...
  8 MB finished ...
  9 MB finished ...
  10 MB finished ...
  Complete!

In [53]:
search.by_coordinates(43.4022489, -91.2864117, returns=1)[0].zipcode

'52151'

In [60]:
def lat_long_to_zip(latitude, longitude, search=None):
    latitude = float(latitude)
    longitude = float(longitude)
    if not search:
        search = SearchEngine(simple_zipcode=True)
    return search.by_coordinates(latitude, longitude, returns=1)[0].zipcode

In [70]:
search = SearchEngine(simple_zipcode=True)
f = lambda t: (t[0], lat_long_to_zip(t[1], t[2], search))
zipcode_records = map(f, records)

"('US1IAAL0005', '52151'), ('US1IAAL0006', '52156'), ('US1IAAP0001', '52544'), ('US1IAAP0004', '52544'), ('US1IAAP0007', '52544'), ('US1IAAP0008', '52593'), ('US1IAAP0009', '52544'), ('US1IAAP0010', '52581'), ('US1IAAP0011', '52571'), ('US1IABC0002', '52326'), ('US1IABC0005', '52352'), ('US1IABC0006', '50644'), ('US1IABC0008', '50644'), ('US1IABC0009', '50607'), ('US1IABH0003', '50613'), ('US1IABH0006', '50702'), ('US1IABH0007', '50613'), ('US1IABH0008', '50703'), ('US1IABH0010', '50613'), ('US1IABH0015', '50701'), ('US1IABH0017', '50667'), ('US1IABH0018', '50702'), ('US1IABH0019', '50702'), ('US1IABM0002', '50666'), ('US1IABN0003', '50212'), ('US1IABN0005', '50223'), ('US1IABN0009', '50156'), ('US1IABN0012', '50212'), ('US1IABN0013', '50276'), ('US1IABT0011', '52313'), ('US1IABT0012', '52206'), ('US1IABT0013', '52345'), ('US1IABU0002', '50633'), ('US1IABU0003', '50619'), ('US1IABV0001', '50588'), ('US1IABV0002', '51002'), ('US1IACD0005', '52747'), ('US1IACD0007', '52358'), ('US1IACF0002', '51461'), ('US1IACF0005', '51454'), ('US1IACF0006', '51439'), ('US1IACG0004', '50401'), ('US1IACG0005', '50467'), ('US1IACG0006', '50401'), ('US1IACG0007', '50477'), ('US1IACG0011', '50401'), ('US1IACH0002', '50563'), ('US1IACK0001', '51014'), ('US1IACK0002', '51012'), ('US1IACK0003', '51014'), ('US1IACK0005', '51012'), ('US1IACL0002', '50213'), ('US1IACL0003', '50174'), ('US1IACL0004', '50174'), ('US1IACN0001', '52742'), ('US1IACN0002', '52729'), ('US1IACN0005', '52730'), ('US1IACN0008', '52037'), ('US1IACN0010', '52730'), ('US1IACN0011', '52742'), ('US1IACN0012', '52254'), ('US1IACN0013', '52750'), ('US1IACN0017', '52731'), ('US1IACR0003', '51401'), ('US1IACR0005', '51463'), ('US1IACR0006', '51443'), ('US1IACR0007', '51455'), ('US1IACR0009', '51430'), ('US1IACS0002', '50020'), ('US1IACS0004', '50022'), ('US1IACS0005', '50042'), ('US1IACT0007', '52157'), ('US1IACW0001', '50659'), ('US1IACW0002', '50659'), ('US1IACW0003', '50659'), ('US1IACY0002', '51338'), ('US1IACY0004', '51301'), ('US1IADB0011', '52001'), ('US1IADB0012', '52068'), ('US1IADB0016', '52068'), ('US1IADB0018', '52002'), ('US1IADB0019', '52002'), ('US1IADB0020', '52002'), ('US1IADB0021', '52039'), ('US1IADK0003', '51347'), ('US1IADK0004', '51351'), ('US1IADK0006', '51347'), ('US1IADL0001', '50063'), ('US1IADL0004', '50063'), ('US1IADL0005', '50263'), ('US1IADL0014', '50146'), ('US1IADL0017', '50063'), ('US1IADL0018', '50263'), ('US1IADL0020', '50167'), ('US1IADL0022', '50323'), ('US1IADL0024', '50263'), ('US1IADL0026', '50063'), ('US1IADL0027', '50323'), ('US1IADL0031', '50063'), ('US1IADM0001', '52650'), ('US1IADM0004', '52655'), ('US1IADM0007', '52658'), ('US1IADM0008', '52601'), ('US1IADM0010', '52601'), ('US1IADV0001', '52560'), ('US1IADV0002', '52572'), ('US1IADV0003', '63548'), ('US1IADV0004', '52537'), ('US1IADV0005', '52584'), ('US1IADV0007', '52552'), ('US1IADV0008', '52584'), ('US1IADV0009', '52537'), ('US1IADV0010', '52560'), ('US1IADV0013', '52594'), ('US1IADV0014', '52552'), ('US1IADV0015', '52572'), ('US1IADV0016', '52584'), ('US1IADW0006', '52219'), ('US1IADW0009', '52057'), ('US1IAEM0001', '51365'), ('US1IAEM0003', '50578'), ('US1IAFL0003', '50458'), ('US1IAFM0001', '51652'), ('US1IAFR0001', '50452'), ('US1IAFY0002', '50662'), ('US1IAFY0003', '52171'), ('US1IAFY0004', '52171'), ('US1IAGN0001', '50050'), ('US1IAGN0004', '50050'), ('US1IAGT0001', '50277'), ('US1IAGT0003', '50026'), ('US1IAHB0002', '50529'), ('US1IAHD0005', '50672'), ('US1IAHM0001', '50595'), ('US1IAHN0002', '50423'), ('US1IAHN0004', '50438'), ('US1IAHR0002', '51579'), ('US1IAHR0003', '51550'), ('US1IAHR0004', '51563'), ('US1IAHR0006', '51579'), ('US1IAHR0007', '51557'), ('US1IAHR0010', '51555'), ('US1IAHR0011', '51555'), ('US1IAHR0013', '51546'), ('US1IAHR0014', '51523'), ('US1IAHR0016', '51546'), ('US1IAHY0001', '52645'), ('US1IAHY0004', '52645'), ('US1IAHY0005', '52649'), ('US1IAIA0001', '52316'), ('US1IAIA0002', '52301'), ('US1IAIA0006', '52203'), ('US1IAIA0013', '52361'), ('US1IAIA0018', '52301'), ('US1IAID0004', '51431'), ('US1IAJC0002', '52309'), ('US1IAJC0005', '52031'), ('US1IAJC0006', '52031'), ('US1IAJF0007', '52556'), ('US1IAJF0010', '52556'), ('US1IAJH0001', '52333'), ('US1IAJH0008', '52241'), ('US1IAJH0009', '52247'), ('US1IAJH0010', '52241'), ('US1IAJH0013', '52340'), ('US1IAJH0014', '52338'), ('US1IAJH0019', '52242'), ('US1IAJH0020', '52241'), ('US1IAJH0021', '52333'), ('US1IAJH0022', '52241'), ('US1IAJH0023', '52322'), ('US1IAJH0026', '52245'), ('US1IAJH0027', '52241'), ('US1IAJN0010', '52212'), ('US1IAJN0014', '52205'), ('US1IAJS0004', '50135'), ('US1IAKK0003', '52591'), ('US1IAKS0004', '50511'), ('US1IAKS0005', '50522'), ('US1IALC0005', '50165'), ('US1IALC0007', '50151'), ('US1IALE0003', '52627'), ('US1IALE0004', '52639'), ('US1IALE0006', '62358'), ('US1IALE0007', '52632'), ('US1IALE0008', '52627'), ('US1IALE0009', '52639'), ('US1IALE0011', '52649'), ('US1IALN0003', '52227'), ('US1IALN0004', '52405'), ('US1IALN0005', '52401'), ('US1IALN0007', '52202'), ('US1IALN0009', '52302'), ('US1IALN0013', '52403'), ('US1IALN0017', '52336'), ('US1IALN0023', '52328'), ('US1IALN0024', '52405'), ('US1IALN0027', '52302'), ('US1IALN0030', '52213'), ('US1IALN0031', '52402'), ('US1IALN0032', '52401'), ('US1IALN0035', '52302'), ('US1IALN0036', '52332'), ('US1IALN0039', '52405'), ('US1IALS0002', '52640'), ('US1IALS0003', '52653'), ('US1IALY0002', '51230'), ('US1IALY0006', '51246'), ('US1IALY0009', '56138'), ('US1IAMA0002', '50219'), ('US1IAMA0004', '50219'), ('US1IAMA0005', '50219'), ('US1IAMA0007', '50219'), ('US1IAMA0009', '50219'), ('US1IAMC0006', '52761'), ('US1IAMC0010', '52761'), ('US1IAMC0011', '52766'), ('US1IAMC0013', '52761'), ('US1IAMD0003', '50070'), ('US1IAMD0004', '50273'), ('US1IAMH0006', '50268'), ('US1IAMH0008', '50207'), ('US1IAMH0009', '52534'), ('US1IAMH0010', '50207'), ('US1IAML0002', '51551'), ('US1IAMN0002', '51523'), ('US1IAMR0001', '52531'), ('US1IAMS0002', '50158'), ('US1IAMS0005', '50158'), ('US1IAMT0001', '50461'), ('US1IAMY0002', '51541'), ('US1IAOS0002', '51350'), ('US1IAPA0003', '51358'), ('US1IAPA0005', '50562'), ('US1IAPA0006', '50597'), ('US1IAPC0006', '50574'), ('US1IAPC0008', '50540'), ('US1IAPG0003', '51630'), ('US1IAPK0001', '50324'), ('US1IAPK0002', '50313'), ('US1IAPK0003', '50324'), ('US1IAPK0008', '50310'), ('US1IAPK0013', '50009'), ('US1IAPK0014', '50023'), ('US1IAPK0021', '50131'), ('US1IAPK0023', '50265'), ('US1IAPK0027', '50325'), ('US1IAPK0033', '50266'), ('US1IAPK0036', '50109'), ('US1IAPK0037', '50324'), ('US1IAPK0054', '50226'), ('US1IAPK0057', '50111'), ('US1IAPK0063', '50310'), ('US1IAPK0065', '50266'), ('US1IAPK0068', '50324'), ('US1IAPK0070', '50131'), ('US1IAPK0071', '50324'), ('US1IAPK0073', '50316'), ('US1IAPK0074', '50313'), ('US1IAPK0075', '50325'), ('US1IAPK0080', '50035'), ('US1IAPK0083', '50009'), ('US1IAPK0088', '50324'), ('US1IAPK0089', '50007'), ('US1IAPK0092', '50313'), ('US1IAPK0095', '50311'), ('US1IAPK0097', '50021'), ('US1IAPK0098', '50310'), ('US1IAPL0004', '51050'), ('US1IAPL0005', '51031'), ('US1IAPL0008', '51028'), ('US1IAPT0002', '68110'), ('US1IAPT0007', '51503'), ('US1IAPT0013', '51501'), ('US1IAPW0001', '50106'), ('US1IAPW0004', '50112'), ('US1IASC0002', '51458'), ('US1IASC0003', '51450'), ('US1IASC0004', '51458'), ('US1IASH0001', '51537'), ('US1IASH0003', '51531'), ('US1IASH0006', '51447'), ('US1IASR0002', '50010'), ('US1IASR0005', '50105'), ('US1IASR0008', '50105'), ('US1IASR0010', '50201'), ('US1IASR0012', '50105'), ('US1IASR0013', '50201'), ('US1IASR0014', '50010'), ('US1IASR0017', '50010'), ('US1IASR0019', '50105'), ('US1IASR0022', '50105'), ('US1IASR0029', '50010'), ('US1IASR0031', '50010'), ('US1IASR0033', '50248'), ('US1IASR0034', '50201'), ('US1IASR0036', '50010'), ('US1IAST0001', '52753'), ('US1IAST0003', '52756'), ('US1IAST0004', '52801'), ('US1IAST0008', '52722'), ('US1IAST0021', '52748'), ('US1IAST0022', '52756'), ('US1IAST0023', '52802'), ('US1IAST0024', '52748'), ('US1IAST0028', '52722'), ('US1IAST0029', '52807'), ('US1IAST0030', '52748'), ('US1IAST0031', '52806'), ('US1IAST0034', '52802'), ('US1IAST0037', '52803'), ('US1IAST0042', '52722'), ('US1IASX0005', '51003'), ('US1IASX0006', '51041'), ('US1IASX0007', '51250'), ('US1IATM0003', '52224'), ('US1IATY0001', '50833'), ('US1IATY0002', '50848'), ('US1IATY0004', '50833'), ('US1IAUN0001', '50801'), ('US1IAUN0003', '50174'), ('US1IAVB0003', '52620'), ('US1IAVB0004', '52620'), ('US1IAVB0007', '52626'), ('US1IAVB0008', '52620'), ('US1IAVB0009', '52626'), ('US1IAVB0011', '52542'), ('US1IAWB0003', '50501'), ('US1IAWB0005', '50516'), ('US1IAWB0012', '50501'), ('US1IAWB0015', '50524'), ('US1IAWD0007', '51103'), ('US1IAWG0006', '50533'), ('US1IAWH0001', '52172'), ('US1IAWH0003', '52101'), ('US1IAWH0004', '52144'), ('US1IAWH0005', '52101'), ('US1IAWH0006', '52101'), ('US1IAWN0001', '50450'), ('US1IAWP0003', '52501'), ('US1IAWP0005', '52501'), ('US1IAWP0006', '52501'), ('US1IAWP0007', '52501'), ('US1IAWP0008', '52554'), ('US1IAWP0011', '52536'), ('US1IAWR0005', '50118'), ('US1IAWR0006', '50211'), ('US1IAWR0007', '50125'), ('US1IAWR0015', '50211'), ('US1IAWR0017', '50061'), ('US1IAWR0021', '50211'), ('US1IAWS0002', '52201'), ('US1IAWS0007', '52247'), ('US1IAWS0008', '52540'), ('US1IAWT0001', '50440'), ('US1IAWY0003', '52590'), ('US1IAWY0004', '52583'), ('US1IAWY0006', '52590'), ('US1IAWY0007', '52590'), ('US1IAWY0009', '52590'), ('US1IAWY0010', '50008'), ('US1IAWY0011', '64672'), ('USC00130021', '50001'), ('USC00130046', '50002'), ('USC00130088', '51001'), ('USC00130089', '51031'), ('USC00130112', '52531'), ('USC00130133', '50511'), ('USC00130149', '50008'), ('USC00130157', '50602'), ('USC00130200', '50036'), ('USC00130203', '50010'), ('USC00130214', '52205'), ('USC00130241', '50023'), ('USC00130364', '50022'), ('USC00130372', '51544'), ('USC00130385', '50025'), ('USC00130389', '52658'), ('USC00130512', '51006'), ('USC00130536', '50074'), ('USC00130576', '50833'), ('USC00130580', '50833'), ('USC00130600', '52208'), ('USC00130608', '52031'), ('USC00130745', '50836'), ('USC00130753', '52537'), ('USC00130807', '50036'), ('USC00130910', '52540'), ('USC00130923', '50423'), ('USC00130933', '52211'), ('USC00131060', '52601'), ('USC00131099', '50044'), ('USC00131126', '52144'), ('USC00131233', '51401'), ('USC00131257', '52033'), ('USC00131277', '51010'), ('USC00131319', '52302'), ('USC00131354', '52544'), ('USC00131363', '52214'), ('USC00131394', '50049'), ('USC00131402', '50616'), ('USC00131442', '51012'), ('USC00131533', '51646'), ('USC00131541', '50525'), ('USC00131610', '52135'), ('USC00131635', '52730'), ('USC00131704', '52217'), ('USC00131705', '52218'), ('USC00131742', '50621'), ('USC00131793', '50058'), ('USC00131833', '50841'), ('USC00131838', '51016'), ('USC00131954', '52136'), ('USC00131962', '50842'), ('USC00132041', '50529'), ('USC00132070', '52806'), ('USC00132110', '52101'), ('USC00132171', '51442'), ('USC00132200', '50309'), ('USC00132201', '50321'), ('USC00132207', '50314'), ('USC00132208', '50309'), ('USC00132209', '50131'), ('USC00132235', '52742'), ('USC00132236', '52742'), ('USC00132299', '52625'), ('USC00132311', '55931'), ('USC00132362', '52068'), ('USC00132364', '52001'), ('USC00132573', '50627'), ('USC00132603', '52043'), ('USC00132638', '50603'), ('USC00132689', '50536'), ('USC00132724', '51334'), ('USC00132755', '51338'), ('USC00132789', '52556'), ('USC00132864', '52164'), ('USC00132977', '50436'), ('USC00132999', '50516'), ('USC00133007', '52627'), ('USC00133032', '52060'), ('USC00133120', '50632'), ('USC00133239', '50106'), ('USC00133288', '51534'), ('USC00133438', '50849'), ('USC00133473', '50112'), ('USC00133487', '50638'), ('USC00133509', '50216'), ('USC00133517', '52052'), ('USC00133584', '50441'), ('USC00133623', '50544'), ('USC00133632', '51537'), ('USC00133675', '51541'), ('USC00133718', '51023'), ('USC00133900', '51056'), ('USC00133909', '51025'), ('USC00133960', '50122'), ('USC00133964', '50643'), ('USC00133980', '50529'), ('USC00134063', '50125'), ('USC00134094', '50645'), ('USC00134101', '52240'), ('USC00134142', '50126'), ('USC00134228', '50129'), ('USC00134244', '50075'), ('USC00134308', '50447'), ('USC00134342', '51010'), ('USC00134381', '62341'), ('USC00134389', '52565'), ('USC00134402', '50604'), ('USC00134502', '50138'), ('USC00134529', '52301'), ('USC00134557', '50450'), ('USC00134561', '51347'), ('USC00134585', '50140'), ('USC00134624', '54628'), ('USC00134705', '61256'), ('USC00134735', '51031'), ('USC00134758', '50103'), ('USC00134874', '51545'), ('USC00134894', '51546'), ('USC00134926', '50149'), ('USC00134963', '52255'), ('USC00135086', '52057'), ('USC00135123', '51034'), ('USC00135131', '52060'), ('USC00135150', '52301'), ('USC00135198', '50158'), ('USC00135203', '50158'), ('USC00135230', '50401'), ('USC00135232', '50401'), ('USC00135250', '50853'), ('USC00135493', '51355'), ('USC00135650', '50171'), ('USC00135669', '52310'), ('USC00135769', '50854'), ('USC00135796', '52641'), ('USC00135837', '52761'), ('USC00135844', '52761'), ('USC00135876', '50645'), ('USC00135952', '50659'), ('USC00135992', '50208'), ('USC00136076', '52335'), ('USC00136103', '50448'), ('USC00136151', '51560'), ('USC00136160', '52651'), ('USC00136190', '51354'), ('USC00136199', '50662'), ('USC00136273', '51041'), ('USC00136305', '50461'), ('USC00136316', '50213'), ('USC00136327', '52577'), ('USC00136392', '52536'), ('USC00136492', '50665'), ('USC00136527', '50219'), ('USC00136566', '50220'), ('USC00136719', '50574'), ('USC00136755', '50227'), ('USC00136766', '52162'), ('USC00136800', '51245'), ('USC00136820', '52583'), ('USC00136891', '51649'), ('USC00136910', '52574'), ('USC00136940', '51566'), ('USC00136976', '51050'), ('USC00136985', '50162'), ('USC00137058', '50578'), ('USC00137147', '51246'), ('USC00137152', '51247'), ('USC00137161', '50579'), ('USC00137312', '50583'), ('USC00137326', '50472'), ('USC00137363', '52649'), ('USC00137386', '51248'), ('USC00137594', '51201'), ('USC00137602', '50670'), ('USC00137613', '51638'), ('USC00137664', '51249'), ('USC00137669', '51640'), ('USC00137678', '52591'), ('USC00137700', '51250'), ('USC00137702', '51111'), ('USC00137709', '51111'), ('USC00137726', '50585'), ('USC00137844', '51301'), ('USC00137859', '51355'), ('USC00137892', '50641'), ('USC00137932', '50672'), ('USC00137979', '50588'), ('USC00138009', '52076'), ('USC00138026', '50590'), ('USC00138062', '52338'), ('USC00138296', '52342'), ('USC00138315', '50675'), ('USC00138339', '50676'), ('USC00138410', '51576'), ('USC00138490', '50261'), ('USC00138568', '52349'), ('USC00138632', '52351'), ('USC00138668', '52653'), ('USC00138688', '52353'), ('USC00138693', '51049'), ('USC00138701', '50702'), ('USC00138707', '50702'), ('USC00138742', '52171'), ('USC00138755', '52172'), ('USC00138756', '52172'), ('USC00138806', '50595'), ('USC00138808', '50595'), ('USC00139067', '52361'), ('USC00139132', '50273'), ('USC00139750', '50278'), ('USR0000IDES', '68023'), ('USR0000INEA', '50228'), ('USW00014930', '50022'), ('USW00014931', '52601'), ('USW00014933', '50321'), ('USW00014937', '52242'), ('USW00014940', '50428'), ('USW00014943', '51111'), ('USW00014950', '52566'), ('USW00014972', '51301'), ('USW00014990', '52404'), ('USW00054902', '50228'), ('USW00094908', '52003'), ('USW00094910', '50703'), ('USW00094971', '51334'), ('USW00094982', '52806'), ('USW00094988', '50158'), ('USW00094989', '50010'), ('USW00094991', '50140')"

In [65]:
str(list(zipcode_records))

"[('US1IAAL0005', '52151'), ('US1IAAL0006', '52156'), ('US1IAAP0001', '52544'), ('US1IAAP0004', '52544'), ('US1IAAP0007', '52544'), ('US1IAAP0008', '52593'), ('US1IAAP0009', '52544'), ('US1IAAP0010', '52581'), ('US1IAAP0011', '52571'), ('US1IABC0002', '52326'), ('US1IABC0005', '52352'), ('US1IABC0006', '50644'), ('US1IABC0008', '50644'), ('US1IABC0009', '50607'), ('US1IABH0003', '50613'), ('US1IABH0006', '50702'), ('US1IABH0007', '50613'), ('US1IABH0008', '50703'), ('US1IABH0010', '50613'), ('US1IABH0015', '50701'), ('US1IABH0017', '50667'), ('US1IABH0018', '50702'), ('US1IABH0019', '50702'), ('US1IABM0002', '50666'), ('US1IABN0003', '50212'), ('US1IABN0005', '50223'), ('US1IABN0009', '50156'), ('US1IABN0012', '50212'), ('US1IABN0013', '50276'), ('US1IABT0011', '52313'), ('US1IABT0012', '52206'), ('US1IABT0013', '52345'), ('US1IABU0002', '50633'), ('US1IABU0003', '50619'), ('US1IABV0001', '50588'), ('US1IABV0002', '51002'), ('US1IACD0005', '52747'), ('US1IACD0007', '52358'), ('US1IACF0002', '51461'), ('US1IACF0005', '51454'), ('US1IACF0006', '51439'), ('US1IACG0004', '50401'), ('US1IACG0005', '50467'), ('US1IACG0006', '50401'), ('US1IACG0007', '50477'), ('US1IACG0011', '50401'), ('US1IACH0002', '50563'), ('US1IACK0001', '51014'), ('US1IACK0002', '51012'), ('US1IACK0003', '51014'), ('US1IACK0005', '51012'), ('US1IACL0002', '50213'), ('US1IACL0003', '50174'), ('US1IACL0004', '50174'), ('US1IACN0001', '52742'), ('US1IACN0002', '52729'), ('US1IACN0005', '52730'), ('US1IACN0008', '52037'), ('US1IACN0010', '52730'), ('US1IACN0011', '52742'), ('US1IACN0012', '52254'), ('US1IACN0013', '52750'), ('US1IACN0017', '52731'), ('US1IACR0003', '51401'), ('US1IACR0005', '51463'), ('US1IACR0006', '51443'), ('US1IACR0007', '51455'), ('US1IACR0009', '51430'), ('US1IACS0002', '50020'), ('US1IACS0004', '50022'), ('US1IACS0005', '50042'), ('US1IACT0007', '52157'), ('US1IACW0001', '50659'), ('US1IACW0002', '50659'), ('US1IACW0003', '50659'), ('US1IACY0002', '51338'), ('US1IACY0004', '51301'), ('US1IADB0011', '52001'), ('US1IADB0012', '52068'), ('US1IADB0016', '52068'), ('US1IADB0018', '52002'), ('US1IADB0019', '52002'), ('US1IADB0020', '52002'), ('US1IADB0021', '52039'), ('US1IADK0003', '51347'), ('US1IADK0004', '51351'), ('US1IADK0006', '51347'), ('US1IADL0001', '50063'), ('US1IADL0004', '50063'), ('US1IADL0005', '50263'), ('US1IADL0014', '50146'), ('US1IADL0017', '50063'), ('US1IADL0018', '50263'), ('US1IADL0020', '50167'), ('US1IADL0022', '50323'), ('US1IADL0024', '50263'), ('US1IADL0026', '50063'), ('US1IADL0027', '50323'), ('US1IADL0031', '50063'), ('US1IADM0001', '52650'), ('US1IADM0004', '52655'), ('US1IADM0007', '52658'), ('US1IADM0008', '52601'), ('US1IADM0010', '52601'), ('US1IADV0001', '52560'), ('US1IADV0002', '52572'), ('US1IADV0003', '63548'), ('US1IADV0004', '52537'), ('US1IADV0005', '52584'), ('US1IADV0007', '52552'), ('US1IADV0008', '52584'), ('US1IADV0009', '52537'), ('US1IADV0010', '52560'), ('US1IADV0013', '52594'), ('US1IADV0014', '52552'), ('US1IADV0015', '52572'), ('US1IADV0016', '52584'), ('US1IADW0006', '52219'), ('US1IADW0009', '52057'), ('US1IAEM0001', '51365'), ('US1IAEM0003', '50578'), ('US1IAFL0003', '50458'), ('US1IAFM0001', '51652'), ('US1IAFR0001', '50452'), ('US1IAFY0002', '50662'), ('US1IAFY0003', '52171'), ('US1IAFY0004', '52171'), ('US1IAGN0001', '50050'), ('US1IAGN0004', '50050'), ('US1IAGT0001', '50277'), ('US1IAGT0003', '50026'), ('US1IAHB0002', '50529'), ('US1IAHD0005', '50672'), ('US1IAHM0001', '50595'), ('US1IAHN0002', '50423'), ('US1IAHN0004', '50438'), ('US1IAHR0002', '51579'), ('US1IAHR0003', '51550'), ('US1IAHR0004', '51563'), ('US1IAHR0006', '51579'), ('US1IAHR0007', '51557'), ('US1IAHR0010', '51555'), ('US1IAHR0011', '51555'), ('US1IAHR0013', '51546'), ('US1IAHR0014', '51523'), ('US1IAHR0016', '51546'), ('US1IAHY0001', '52645'), ('US1IAHY0004', '52645'), ('US1IAHY0005', '52649'), ('US1IAIA0001', '52316'), ('US1IAIA0002', '52301'), ('US1IAIA0006', '52203'), ('US1IAIA0013', '52361'), ('US1IAIA0018', '52301'), ('US1IAID0004', '51431'), ('US1IAJC0002', '52309'), ('US1IAJC0005', '52031'), ('US1IAJC0006', '52031'), ('US1IAJF0007', '52556'), ('US1IAJF0010', '52556'), ('US1IAJH0001', '52333'), ('US1IAJH0008', '52241'), ('US1IAJH0009', '52247'), ('US1IAJH0010', '52241'), ('US1IAJH0013', '52340'), ('US1IAJH0014', '52338'), ('US1IAJH0019', '52242'), ('US1IAJH0020', '52241'), ('US1IAJH0021', '52333'), ('US1IAJH0022', '52241'), ('US1IAJH0023', '52322'), ('US1IAJH0026', '52245'), ('US1IAJH0027', '52241'), ('US1IAJN0010', '52212'), ('US1IAJN0014', '52205'), ('US1IAJS0004', '50135'), ('US1IAKK0003', '52591'), ('US1IAKS0004', '50511'), ('US1IAKS0005', '50522'), ('US1IALC0005', '50165'), ('US1IALC0007', '50151'), ('US1IALE0003', '52627'), ('US1IALE0004', '52639'), ('US1IALE0006', '62358'), ('US1IALE0007', '52632'), ('US1IALE0008', '52627'), ('US1IALE0009', '52639'), ('US1IALE0011', '52649'), ('US1IALN0003', '52227'), ('US1IALN0004', '52405'), ('US1IALN0005', '52401'), ('US1IALN0007', '52202'), ('US1IALN0009', '52302'), ('US1IALN0013', '52403'), ('US1IALN0017', '52336'), ('US1IALN0023', '52328'), ('US1IALN0024', '52405'), ('US1IALN0027', '52302'), ('US1IALN0030', '52213'), ('US1IALN0031', '52402'), ('US1IALN0032', '52401'), ('US1IALN0035', '52302'), ('US1IALN0036', '52332'), ('US1IALN0039', '52405'), ('US1IALS0002', '52640'), ('US1IALS0003', '52653'), ('US1IALY0002', '51230'), ('US1IALY0006', '51246'), ('US1IALY0009', '56138'), ('US1IAMA0002', '50219'), ('US1IAMA0004', '50219'), ('US1IAMA0005', '50219'), ('US1IAMA0007', '50219'), ('US1IAMA0009', '50219'), ('US1IAMC0006', '52761'), ('US1IAMC0010', '52761'), ('US1IAMC0011', '52766'), ('US1IAMC0013', '52761'), ('US1IAMD0003', '50070'), ('US1IAMD0004', '50273'), ('US1IAMH0006', '50268'), ('US1IAMH0008', '50207'), ('US1IAMH0009', '52534'), ('US1IAMH0010', '50207'), ('US1IAML0002', '51551'), ('US1IAMN0002', '51523'), ('US1IAMR0001', '52531'), ('US1IAMS0002', '50158'), ('US1IAMS0005', '50158'), ('US1IAMT0001', '50461'), ('US1IAMY0002', '51541'), ('US1IAOS0002', '51350'), ('US1IAPA0003', '51358'), ('US1IAPA0005', '50562'), ('US1IAPA0006', '50597'), ('US1IAPC0006', '50574'), ('US1IAPC0008', '50540'), ('US1IAPG0003', '51630'), ('US1IAPK0001', '50324'), ('US1IAPK0002', '50313'), ('US1IAPK0003', '50324'), ('US1IAPK0008', '50310'), ('US1IAPK0013', '50009'), ('US1IAPK0014', '50023'), ('US1IAPK0021', '50131'), ('US1IAPK0023', '50265'), ('US1IAPK0027', '50325'), ('US1IAPK0033', '50266'), ('US1IAPK0036', '50109'), ('US1IAPK0037', '50324'), ('US1IAPK0054', '50226'), ('US1IAPK0057', '50111'), ('US1IAPK0063', '50310'), ('US1IAPK0065', '50266'), ('US1IAPK0068', '50324'), ('US1IAPK0070', '50131'), ('US1IAPK0071', '50324'), ('US1IAPK0073', '50316'), ('US1IAPK0074', '50313'), ('US1IAPK0075', '50325'), ('US1IAPK0080', '50035'), ('US1IAPK0083', '50009'), ('US1IAPK0088', '50324'), ('US1IAPK0089', '50007'), ('US1IAPK0092', '50313'), ('US1IAPK0095', '50311'), ('US1IAPK0097', '50021'), ('US1IAPK0098', '50310'), ('US1IAPL0004', '51050'), ('US1IAPL0005', '51031'), ('US1IAPL0008', '51028'), ('US1IAPT0002', '68110'), ('US1IAPT0007', '51503'), ('US1IAPT0013', '51501'), ('US1IAPW0001', '50106'), ('US1IAPW0004', '50112'), ('US1IASC0002', '51458'), ('US1IASC0003', '51450'), ('US1IASC0004', '51458'), ('US1IASH0001', '51537'), ('US1IASH0003', '51531'), ('US1IASH0006', '51447'), ('US1IASR0002', '50010'), ('US1IASR0005', '50105'), ('US1IASR0008', '50105'), ('US1IASR0010', '50201'), ('US1IASR0012', '50105'), ('US1IASR0013', '50201'), ('US1IASR0014', '50010'), ('US1IASR0017', '50010'), ('US1IASR0019', '50105'), ('US1IASR0022', '50105'), ('US1IASR0029', '50010'), ('US1IASR0031', '50010'), ('US1IASR0033', '50248'), ('US1IASR0034', '50201'), ('US1IASR0036', '50010'), ('US1IAST0001', '52753'), ('US1IAST0003', '52756'), ('US1IAST0004', '52801'), ('US1IAST0008', '52722'), ('US1IAST0021', '52748'), ('US1IAST0022', '52756'), ('US1IAST0023', '52802'), ('US1IAST0024', '52748'), ('US1IAST0028', '52722'), ('US1IAST0029', '52807'), ('US1IAST0030', '52748'), ('US1IAST0031', '52806'), ('US1IAST0034', '52802'), ('US1IAST0037', '52803'), ('US1IAST0042', '52722'), ('US1IASX0005', '51003'), ('US1IASX0006', '51041'), ('US1IASX0007', '51250'), ('US1IATM0003', '52224'), ('US1IATY0001', '50833'), ('US1IATY0002', '50848'), ('US1IATY0004', '50833'), ('US1IAUN0001', '50801'), ('US1IAUN0003', '50174'), ('US1IAVB0003', '52620'), ('US1IAVB0004', '52620'), ('US1IAVB0007', '52626'), ('US1IAVB0008', '52620'), ('US1IAVB0009', '52626'), ('US1IAVB0011', '52542'), ('US1IAWB0003', '50501'), ('US1IAWB0005', '50516'), ('US1IAWB0012', '50501'), ('US1IAWB0015', '50524'), ('US1IAWD0007', '51103'), ('US1IAWG0006', '50533'), ('US1IAWH0001', '52172'), ('US1IAWH0003', '52101'), ('US1IAWH0004', '52144'), ('US1IAWH0005', '52101'), ('US1IAWH0006', '52101'), ('US1IAWN0001', '50450'), ('US1IAWP0003', '52501'), ('US1IAWP0005', '52501'), ('US1IAWP0006', '52501'), ('US1IAWP0007', '52501'), ('US1IAWP0008', '52554'), ('US1IAWP0011', '52536'), ('US1IAWR0005', '50118'), ('US1IAWR0006', '50211'), ('US1IAWR0007', '50125'), ('US1IAWR0015', '50211'), ('US1IAWR0017', '50061'), ('US1IAWR0021', '50211'), ('US1IAWS0002', '52201'), ('US1IAWS0007', '52247'), ('US1IAWS0008', '52540'), ('US1IAWT0001', '50440'), ('US1IAWY0003', '52590'), ('US1IAWY0004', '52583'), ('US1IAWY0006', '52590'), ('US1IAWY0007', '52590'), ('US1IAWY0009', '52590'), ('US1IAWY0010', '50008'), ('US1IAWY0011', '64672'), ('USC00130021', '50001'), ('USC00130046', '50002'), ('USC00130088', '51001'), ('USC00130089', '51031'), ('USC00130112', '52531'), ('USC00130133', '50511'), ('USC00130149', '50008'), ('USC00130157', '50602'), ('USC00130200', '50036'), ('USC00130203', '50010'), ('USC00130214', '52205'), ('USC00130241', '50023'), ('USC00130364', '50022'), ('USC00130372', '51544'), ('USC00130385', '50025'), ('USC00130389', '52658'), ('USC00130512', '51006'), ('USC00130536', '50074'), ('USC00130576', '50833'), ('USC00130580', '50833'), ('USC00130600', '52208'), ('USC00130608', '52031'), ('USC00130745', '50836'), ('USC00130753', '52537'), ('USC00130807', '50036'), ('USC00130910', '52540'), ('USC00130923', '50423'), ('USC00130933', '52211'), ('USC00131060', '52601'), ('USC00131099', '50044'), ('USC00131126', '52144'), ('USC00131233', '51401'), ('USC00131257', '52033'), ('USC00131277', '51010'), ('USC00131319', '52302'), ('USC00131354', '52544'), ('USC00131363', '52214'), ('USC00131394', '50049'), ('USC00131402', '50616'), ('USC00131442', '51012'), ('USC00131533', '51646'), ('USC00131541', '50525'), ('USC00131610', '52135'), ('USC00131635', '52730'), ('USC00131704', '52217'), ('USC00131705', '52218'), ('USC00131742', '50621'), ('USC00131793', '50058'), ('USC00131833', '50841'), ('USC00131838', '51016'), ('USC00131954', '52136'), ('USC00131962', '50842'), ('USC00132041', '50529'), ('USC00132070', '52806'), ('USC00132110', '52101'), ('USC00132171', '51442'), ('USC00132200', '50309'), ('USC00132201', '50321'), ('USC00132207', '50314'), ('USC00132208', '50309'), ('USC00132209', '50131'), ('USC00132235', '52742'), ('USC00132236', '52742'), ('USC00132299', '52625'), ('USC00132311', '55931'), ('USC00132362', '52068'), ('USC00132364', '52001'), ('USC00132573', '50627'), ('USC00132603', '52043'), ('USC00132638', '50603'), ('USC00132689', '50536'), ('USC00132724', '51334'), ('USC00132755', '51338'), ('USC00132789', '52556'), ('USC00132864', '52164'), ('USC00132977', '50436'), ('USC00132999', '50516'), ('USC00133007', '52627'), ('USC00133032', '52060'), ('USC00133120', '50632'), ('USC00133239', '50106'), ('USC00133288', '51534'), ('USC00133438', '50849'), ('USC00133473', '50112'), ('USC00133487', '50638'), ('USC00133509', '50216'), ('USC00133517', '52052'), ('USC00133584', '50441'), ('USC00133623', '50544'), ('USC00133632', '51537'), ('USC00133675', '51541'), ('USC00133718', '51023'), ('USC00133900', '51056'), ('USC00133909', '51025'), ('USC00133960', '50122'), ('USC00133964', '50643'), ('USC00133980', '50529'), ('USC00134063', '50125'), ('USC00134094', '50645'), ('USC00134101', '52240'), ('USC00134142', '50126'), ('USC00134228', '50129'), ('USC00134244', '50075'), ('USC00134308', '50447'), ('USC00134342', '51010'), ('USC00134381', '62341'), ('USC00134389', '52565'), ('USC00134402', '50604'), ('USC00134502', '50138'), ('USC00134529', '52301'), ('USC00134557', '50450'), ('USC00134561', '51347'), ('USC00134585', '50140'), ('USC00134624', '54628'), ('USC00134705', '61256'), ('USC00134735', '51031'), ('USC00134758', '50103'), ('USC00134874', '51545'), ('USC00134894', '51546'), ('USC00134926', '50149'), ('USC00134963', '52255'), ('USC00135086', '52057'), ('USC00135123', '51034'), ('USC00135131', '52060'), ('USC00135150', '52301'), ('USC00135198', '50158'), ('USC00135203', '50158'), ('USC00135230', '50401'), ('USC00135232', '50401'), ('USC00135250', '50853'), ('USC00135493', '51355'), ('USC00135650', '50171'), ('USC00135669', '52310'), ('USC00135769', '50854'), ('USC00135796', '52641'), ('USC00135837', '52761'), ('USC00135844', '52761'), ('USC00135876', '50645'), ('USC00135952', '50659'), ('USC00135992', '50208'), ('USC00136076', '52335'), ('USC00136103', '50448'), ('USC00136151', '51560'), ('USC00136160', '52651'), ('USC00136190', '51354'), ('USC00136199', '50662'), ('USC00136273', '51041'), ('USC00136305', '50461'), ('USC00136316', '50213'), ('USC00136327', '52577'), ('USC00136392', '52536'), ('USC00136492', '50665'), ('USC00136527', '50219'), ('USC00136566', '50220'), ('USC00136719', '50574'), ('USC00136755', '50227'), ('USC00136766', '52162'), ('USC00136800', '51245'), ('USC00136820', '52583'), ('USC00136891', '51649'), ('USC00136910', '52574'), ('USC00136940', '51566'), ('USC00136976', '51050'), ('USC00136985', '50162'), ('USC00137058', '50578'), ('USC00137147', '51246'), ('USC00137152', '51247'), ('USC00137161', '50579'), ('USC00137312', '50583'), ('USC00137326', '50472'), ('USC00137363', '52649'), ('USC00137386', '51248'), ('USC00137594', '51201'), ('USC00137602', '50670'), ('USC00137613', '51638'), ('USC00137664', '51249'), ('USC00137669', '51640'), ('USC00137678', '52591'), ('USC00137700', '51250'), ('USC00137702', '51111'), ('USC00137709', '51111'), ('USC00137726', '50585'), ('USC00137844', '51301'), ('USC00137859', '51355'), ('USC00137892', '50641'), ('USC00137932', '50672'), ('USC00137979', '50588'), ('USC00138009', '52076'), ('USC00138026', '50590'), ('USC00138062', '52338'), ('USC00138296', '52342'), ('USC00138315', '50675'), ('USC00138339', '50676'), ('USC00138410', '51576'), ('USC00138490', '50261'), ('USC00138568', '52349'), ('USC00138632', '52351'), ('USC00138668', '52653'), ('USC00138688', '52353'), ('USC00138693', '51049'), ('USC00138701', '50702'), ('USC00138707', '50702'), ('USC00138742', '52171'), ('USC00138755', '52172'), ('USC00138756', '52172'), ('USC00138806', '50595'), ('USC00138808', '50595'), ('USC00139067', '52361'), ('USC00139132', '50273'), ('USC00139750', '50278'), ('USR0000IDES', '68023'), ('USR0000INEA', '50228'), ('USW00014930', '50022'), ('USW00014931', '52601'), ('USW00014933', '50321'), ('USW00014937', '52242'), ('USW00014940', '50428'), ('USW00014943', '51111'), ('USW00014950', '52566'), ('USW00014972', '51301'), ('USW00014990', '52404'), ('USW00054902', '50228'), ('USW00094908', '52003'), ('USW00094910', '50703'), ('USW00094971', '51334'), ('USW00094982', '52806'), ('USW00094988', '50158'), ('USW00094989', '50010'), ('USW00094991', '50140')]"

In [11]:
cur.execute(create_staging_sales)

engine.commit()

In [30]:
query = "SELECT * FROM test_iowa_table LIMIT 5"

In [32]:
# # Deleting header which happened to be in table by mistake
# cur.execute("""
# DELETE FROM test_iowa_table 
# WHERE invoice_id in (
#     SELECT invoice_id FROM test_iowa_table LIMIT 1
#     )
# """)

In [17]:
cur.execute(query)
# for t in cur:
#     print(t)

In [21]:
pd.read_sql(query, engine, )

,invoice_id,date,store_number,store_name,address,city,zip,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
1,S09553800028,12/18/2012,3717,The Liquor Stop / Sumner,201 W 1st ST,SUMNER,50674,POINT (-92.09922100000001 42.847479),09,Bremer,...,36305,Hawkeye Vodka,12,750,3.25,4.88,2,9.76,1.50,0.40
2,S14077800069,10/04/2013,2506,Hy-Vee #1044 / Burlington,3140 AGENCY,BURLINGTON,52601,POINT (-91.136655 40.814666),29,Des Moines,...,64868,Fireball Cinnamon Whiskey,6,1750,15.33,23.00,30,690.00,52.50,13.87
3,S08306600029,10/15/2012,3766,Kolby's Liquor Store,419 W MILWAUKEE,NEW HAMPTON,50659,POINT (-92.32302900000002 43.066752),19,Chickasaw,...,73456,Dekuyper Luscious Razzmatazz,12,750,6.30,9.45,2,18.90,1.50,0.40
4,S11151600002,03/18/2013,2612,Hy-Vee Store / Perry,1215 141 ST,PERRY,50220,POINT (-94.104501 41.830292),25,Dallas,...,11776,Black Velvet,12,750,5.23,7.84,12,94.08,9.00,2.38

In [18]:
pd.DataFrame(cur.fetchall())

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
1,S09553800028,12/18/2012,3717,The Liquor Stop / Sumner,201 W 1st ST,SUMNER,50674,POINT (-92.09922100000001 42.847479),09,Bremer,...,36305,Hawkeye Vodka,12,750,3.25,4.88,2,9.76,1.50,0.40
2,S14077800069,10/04/2013,2506,Hy-Vee #1044 / Burlington,3140 AGENCY,BURLINGTON,52601,POINT (-91.136655 40.814666),29,Des Moines,...,64868,Fireball Cinnamon Whiskey,6,1750,15.33,23.00,30,690.00,52.50,13.87
3,S08306600029,10/15/2012,3766,Kolby's Liquor Store,419 W MILWAUKEE,NEW HAMPTON,50659,POINT (-92.32302900000002 43.066752),19,Chickasaw,...,73456,Dekuyper Luscious Razzmatazz,12,750,6.30,9.45,2,18.90,1.50,0.40
4,S11151600002,03/18/2013,2612,Hy-Vee Store / Perry,1215 141 ST,PERRY,50220,POINT (-94.104501 41.830292),25,Dallas,...,11776,Black Velvet,12,750,5.23,7.84,12,94.08,9.00,2.38

In [8]:
header = cur.fetchone().split(',')
example

('S09553800028',
 '12/18/2012',
 '3717',
 'The Liquor Stop / Sumner',
 '201 W 1st ST',
 'SUMNER',
 '50674',
 'POINT (-92.09922100000001 42.847479)',
 '09',
 'Bremer',
 '1031080',
 'VODKA 80 PROOF',
 '434',
 'Luxco-St Louis',
 '36305',
 'Hawkeye Vodka',
 '12',
 '750',
 '3.25',
 '4.88',
 '2',
 '9.76',
 '1.50',
 '0.40')